<div class="container">
    <div class="card">
        <div class="card-header">
            <!--<a href="../../public-html/recibos/recibos-inactive-list.php"></a>-->
            <a class="btn btn-outline-dark float-right mr-1" ui-sref="recibos_list">Lista activa</a>
            <h1>Lista de Recibos Inactivos</h1>
        </div>
        <div class="card-body">
            <div ng-if="recibos.length > 0">
                <table class="table table-responsive-md table-striped">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Cantidad de Hojas</th>
                            <th>Cantidad de Horas</th>
                            <th>Tipo de recibo</th>
                            <th>Alumno</th>
                            <th>Fecha de desactivaci&oacute;n</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="recibo in recibos">
                            <td>{{control.codigo}}</td>
                            <td>{{control.hojas}}</td>
                            <td>{{control.horas}}</td>
                            <td>{{control.tipo}}</td>
                            <td>{{control.alumno}}</td>
                            <td>{{control.updated_at}}</td>
                            <td>
                                <button class="btn btn-outline-info" 
                                        type="button"
                                        ng-click="reactivate(recibo.idRecibo)">Activar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="recibos.length === 0">
                <h2>No hay registros</h2>
            </div>
        </div>
    </div>
</div>  
