<div class="container">
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-danger float-right" ui-shref="usuariosSalas_list">Cancelar</a>

            <h1>{{heading}} de Usuario en Salas</h1>
        </div>
        <div class="card-body">
            <form novalidate="" ng-submit="submit()">

                <div class="form-group row" >
                    <div class="col-12 col-md-2">
                        <label for="usuario">usuario</label>
                    </div>
                    <div class="col-12 col-md-10"> 
                        <select class="form-control" id="usuario" ng-model="usuarioSala.usuario">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row" >
                    <div class="col-12 col-md-2">
                        <label for="sala">sala</label>
                    </div>
                    <div class="col-12 col-md-10"> 
                        <select class="form-control" id="sala"  ng-model="usuarioSala.sala">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-outline-success" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>