<div class="container">
    <div class="card">
        <div class="card-header">
            <!--<a href="../../public-html/gacetas/gacetas-inactive-list.php"></a>-->
            <a class="btn btn-outline-success float-right" ui-sref="gaceta_create">Crear gaceta</a>
            <a class="btn btn-outline-dark float-right mr-1" ui-sref="gacetas_inactive_list">Lista inactiva</a>
            <h1>Lista de Gacetas</h1>
        </div>
        <div class="card-body">
            <div ng-if="gacetas.length > 0">
                <table class="table table-responsive-md table-striped">
                    <thead>
                        <tr>
                            <th width="20%">Nombre de gaceta</th>
                            <th width="5%">N&uacute;mero</th>
                            <th width="5%">A&ntilde;o</th>
                            <th width="35%">Descripci&oacute;n</th>
                            <th width="15%">Creaci&oacute;n</th>
                            <th width="20%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gaceta in gacetas">
                            <td>{{gaceta.gaceta}}</td>
                            <td>{{gaceta.numero}}</td>
                            <td>{{gaceta.anio}}</td>
                            <td>{{gaceta.descripcion}}</td>
                            <td>{{gaceta.created_at}}</td>
                            <td>
                                <a class="btn btn-outline-info" ui-sref="gaceta_update({id: gaceta.id})">Editar</a>
                                <button class="btn btn-outline-danger" type="button" ng-click="inactivate(gaceta.id)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="gacetas.length === 0">
                <h2>No hay registros</h2>
            </div>
        </div>
    </div>
</div>