<div class="container">
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-danger float-right" ui-sref="gacetas_list">Lista Activa </a>
            <h1>Lista de Gacetas Inactivas</h1>
        </div>
        <div class="card-body">
            <div ng-if="gacetas.length > 0">
                <table class="table table-responsive-md table-striped">
                    <thead>
                    <th width="20%">Nombre de gaceta</th>
                    <th width="5%">N&uacute;mero</th>
                    <th width="5%">A&ntilde;o</th>
                    <th width="35%">Descripci&oacute;n</th>
                    <th width="15%"> Fecha de desacti&oacute;n</th>
                    <th width="20%">Acciones</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gaceta in gacetas">
                            <td>{{gaceta.gaceta}}</td>
                            <td>{{gaceta.numero}}</td>
                            <td>{{gaceta.anio}}</td>
                            <td>{{gaceta.descripcion}}</td>
                            <td>{{gaceta.created_at}}</td>
                            <td>
                                <button class="btn btn-outline-info" type="button" ng-click="reactivate(gaceta.id)">Activar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="gacetas.length === 0">
                <h2>No hay registros</h2>
            </div>
        </div>
    </div>
</div>