<div class="container">
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-danger float-right" ui-shref="usuarios_list">Cancelar</a>
            <h1>{{heading}} de Usuario</h1>
        </div>
        <div class="card-body">
            <form novalidate="" ng-submit="submit()">
                <div class="form-group row" >
                    <div class="col-12 col-md-2">
                        <label for="usuario">Nombre de Usuario</label>
                    </div>
                    <div class="col-12 col-md-10"> 
                        <input id="usuario" class="form-control" type="text" 
                               placeholder="Nombre de usuario" required=""
                               ng-model="usuario.usuario" required >
                    </div>
                </div>
                <div class="form-group row" >
                    <div class="col-12 col-md-2">
                        <label for="rol">Rol</label>
                    </div>
                    <div class="col-12 col-md-10"> 
                        <select class="form-control" id="rol" ng-model="usuario.rol" >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-outline-success" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>