<div class="container">
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-success float-right" ui-sref="usuario_create">Crear usuario</a>
            <a class="btn btn-outline-dark float-right mr-1" ui-sref="usuarios_inactive_list">Lista inactiva</a>
            <h1>Lista de Usuarios</h1>
        </div>
        <div class="card-body">
            <div ng-if="usuarios.length > 0">
                <table class="table table-responsive-md table-striped">
                    <thead>
                        <tr>
                            <th>Nombre de Usuario</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="usuario in usuarios">
                            <td>{{usuario.usuario}}</td>
                            <td>{{usuario.rol}}</td>
                            <td>
                                <a class="btn btn-outline-info" 
                                   ui-sref="usuario_update({id:usuario.idUsuario})">Editar</a>
                                <button class="btn btn-outline-danger"
                                        type="button" ng-click="inactivate(usuario.idUsuario)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="usuarios.length === 0">
                <h2>No hay registros</h2>
            </div>
        </div>
    </div>
</div>
