<div class="container">
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-danger float-right" ui-shref="autores_list">Cancelar</a>
 
            <h1>{{heading}} de autor</h1>
        </div>
        <div class="card-body">
            <form novalidate="" ng-submit="submit()">
                <div class="form-group row" >
                    <div class="col-12 col-md-2">
                        <label for="autor">Autor</label>
                    </div>
                    <div class="col-12 col-md-10"> 
                        <input id="autor" class="form-control" type="text" placeholder="autor" required="" ng-model="autor.autor">
                    </div>
                </div>
                <button class="btn btn-outline-success" type="submit">Enviar</button>
            </form>

        </div>
    </div>
</div>